/* side nav */ 

mat-sidenav {
    margin: 16px;
    width: 200px;
    border-right: none;
    background:  palevioletred ;
    color: white;
    border-radius: 5px;
    padding: 16px;
    text-align: center;
  }
.content {
    height: calc(100vh - 98px);
    border-radius: 10px;
    margin: 16px;
    margin-left: 32px;
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: lightgray;
  }
mat-sidenav-container {
    height: calc(100vh - 65px);
  }
.menu-button {
  color: black;
    display: block;
    align-items: center;
    justify-content: flex-start;
    font-size: 1rem;
  }
.menu-button a{
  transition: all 0.3s ease 0s;
}  
.menu-button a:hover{
  color: palevioletred;
}

mat-icon {
    margin-right: 8px;
}




.text{
           text-align: center;
           font-size: 50px;
           font-style: italic;
  }
.list{
    text-align: center;
  }
table {
  width: 75%;
  border-collapse: collapse;
  margin: auto;
  
  }
table.center {
  margin-left: auto; 
  margin-right: auto;
  }
th {
  padding-top: 20px;
  padding-bottom: 10px;
  text-align: left;
  background-color: rgb(242, 98, 122);
  color: white;
  }
th, td {
  padding: 8px;
  text-align: left;
  }
tr:nth-child(odd) {
  background-color: #f2f2f2;
    }
/* ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  }
li {
  float: left;
  }
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
  } */

h1{
  font-family: fantasy;
  color: black;
  font-weight: bold;
  padding-bottom: 0%;
  }
a{
  font-size: 25px;
  font-family: fantasy;
  }
  .ab{
    text-decoration: none;
    border: none;
    font-family: fantasy;
    font-size: 25px;
    background-color: transparent;
  }

/* li .menu-button{
  color: #f2f2f2;
  } */
/* .search-opt{
      width: 15%;
      margin: 50px 20px 0 200px;
  } */
.del {
 
  /* padding: 6px 50px; */
  border: none;
  cursor: pointer;
  opacity: 0.9;
  border: none;
  font-size: 1.5em;
  /* margin: 34px 2px; */
  margin-left: 15%;
  }
.del:hover {
  opacity:1;
  
  }
  .example-form {
  position: absolute;
  right: 110px;
  width: 300px;
  cursor: pointer;
  opacity: 0.9;

  margin-right: 30px;
  margin-top: 30px;
 
 
  
}
* {
  box-sizing: border-box;
}
.example-form:hover {
  opacity:1;
 
  }

.ad {
  background-color: rgb(242, 98, 122);
  border: none;
  color: white;
  padding: 10px 10px 19px 10px;
  text-align: center;
  text-decoration: none;
  font-size: large;
  margin: 20px 2px;
  /* cursor: pointer; */
  }
.ad:hover:hover {
  opacity:1;
  }
  .dropdown {
  position: relative;
  display: inline-block;
  font-family: fantasy;
  color: black;
  font-weight: bold;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color:  rgb(0, 0, 0, 0.3);
  min-width: 80px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}
/* .topnav a {
  float: center;
  color: #f2f2f2;
  text-align: center;
  
} */

/* .topnav a:hover {
  background-color: #ddd;
  color: black;
} */

ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
 
  /* padding: 30px 10%; */
}
.nav_links{
  list-style: none;
}
.nav_links li{
  display: inline;
  padding: 0px 20px;
}

.nav_links li a{
  transition: all 0.3s ease 0s;
  color: black;
}
.nav_links li a:hover{
  color: palevioletred;
}
.logout{
  text-decoration: none;
  color: black;
}
.nav_links li a{
  transition: all 0.3s ease 0s;
}
.logout li a:hover{
  color: palevioletred;
}
.report{
  font-family: fantasy;
  color: black;
  font-weight: bold;
  
  font-size: medium;
  margin-top: 0px;
  /* margin-bottom: 20px;   */
}
.report-btn{
  background-color: transparent;
  font-family: fantasy;
  border: none;
  color: black;
  padding: 0px;
  font-size: large;
  margin: 4px 2px;
  cursor: pointer;

}
.Generate{
    background-color: transparent;
    font-family: fantasy;
  color: black;
  text-decoration: none;
  border: none;
}
.search{
    margin-top: 0px;

}