
  <ul>
    <li>
      <a><mat-icon>home</mat-icon>Mary's product List 
      </a>
            
    </li>
    
    <li style="float:right"><a class= "active" routerLink="/Login">
        <mat-icon aria-hidden="false" aria-label="Example Logout icon">logout</mat-icon>Logout</a></li>
  
    
  </ul>
  



    
    <mat-sidenav-container>
        <mat-sidenav  class="mat-elevation-z8" mode="side" opened>
          
                <button mat-button class="menu-button" >  
                    <mat-icon>home</mat-icon>
                    <span>Home</span>
                </button>
                <button mat-button class="menu-button"  routerLink="/add">
                    <mat-icon>add</mat-icon>
                    <span>Add Products</span>
                </button>
                
                <button mat-button class="menu-button" routerLink="/product">
                    <mat-icon>list</mat-icon>
                    <span>Show Products</span>
                </button>
               
               
        
                <button mat-button class="menu-button">
                    <mat-icon>help</mat-icon>
                    <span>Help</span>
                </button>
        
            </mat-sidenav>
       
        <mat-sidenav-content>
            <div class="content">
                <h1>Welcome <br><br><br>To<br><br><br> Mary's Product List</h1>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
  
  
  
  <div class="list">
    
    <!-- main content container -->
    <div class="jumbotron">
      <div class="container">
          <div class="row">
              <div class="col-sm-8 offset-sm-2">
                  <router-outlet></router-outlet>
              </div>
          </div>
      </div>
    </div>
    </div>
    
    