.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  .toggle-less{
    background-color:rgb(33, 33, 144) ;
    color: white;
  }
  .toggle-more{
    background-color: rgb(33, 33, 144);
    color: white;
  }
  .example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    align-items: flex-start;
  }
  
  .example-radio-button {
    margin: 5px;
  }
 
  