<h1>Edit Products Form</h1>
<div mat-dialog-content>
<form [formGroup]="ProductForm" >  
<!-- Id -->

       <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>ID</mat-label>
     <input matInput   name="productId" formControlName="productId" >
   </mat-form-field>
   
          
<!-- Name -->

      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Name</mat-label>
     <input matInput  name="productName" formControlName="productName" >
   </mat-form-field>
    
<!-- Price   -->
     
<mat-form-field  name="productPrice"  class="example-full-width" appearance="outline">
 <mat-label>Set Price</mat-label>
 <mat-select [(value)]="selected" formControlName="productPrice" name="productPrice" >
   <mat-option *ngFor="let prices of price"  [value]="prices.value" name="productPrice">
     {{prices.viewValue}}
   </mat-option>
 </mat-select>
</mat-form-field>



<!-- Multiple select -->
   <mat-form-field class="example-full-width" appearance="outline" >
     <mat-label>Select Multiple</mat-label>
     <mat-select  multiple formControlName="prod" name="prod" >
       <mat-option *ngFor="let prod of prodList" required [value]="prod">{{prod}}</mat-option>
     </mat-select>
   </mat-form-field>


<!-- Description   -->
<mat-form-field class="example-full-width" appearance="outline">
 <mat-label>Description</mat-label>
 <textarea matInput placeholder="about phone" name="productDesc"  formControlName="productDesc" >

 </textarea>
</mat-form-field>


<!-- Date picker -->

<mat-form-field appearance="outline" class="example-full-width" >
 <mat-label>Choose a date</mat-label>
 <input matInput [matDatepicker]="picker" formControlName="date" name="date" >
 <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
 <mat-datepicker #picker></mat-datepicker>
</mat-form-field>
<br><br>

<!-- Type -->
       <label for="">Type: </label>
       <mat-radio-group  class="example-radio-group" formControlName="productType" name="productType" >

       <mat-radio-button *ngFor="let check of radio" [value]="check" class="example-radio-button"  >
     {{check}}
    </mat-radio-button>
      </mat-radio-group>
     
     


<!-- quantity-->
    
     <div class="stepper-input stepper__input">
       <label>Quantity</label>&nbsp;
        <button class="toggle-less"> <mat-icon (click)="minus()">remove</mat-icon></button>
     
         <div class="form-check-inline">
           <mat-form-field class="qn" appearance="fill">
             <input matInput name="productQuantity" [value]="quantity" formControlName="productQuantity">
           </mat-form-field>
          </div>

        <button class="toggle-more" (click)="plus()"> <mat-icon> add</mat-icon></button>
     </div>
    </form>
</div>




<div mat-dialog-action [align]="'end'">
    
     <button mat-raised-button color="warn" mat-dialog-close >Close</button>
<button style="margin-left: 8px;" mat-raised-button color="primary" (click)="createProduct()">{{actionBtn}}</button>
</div>

  
 
